@import '@/assets/styles/variables';

.comment-form {
  &-label {
    display: block;
    color: $white;
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 5px;
  }

  &-input {
    font-family: inherit;
    width: 100%;
    padding: 0.75rem;
    background-color: transparent;
    border: 1px solid $white;
    outline: 1px solid transparent;
    border-radius: 8px;
    color: $white;
  }

  &-button {
    cursor: pointer;
    display: block;
    margin-top: 1rem;
    padding: 0.75rem 1.5rem;
    background-color: $primary;
    border: none;
    outline: none;
    border-radius: 8px;
    color: $white;
    font-weight: 500;
  }
}
