@import '@/assets/styles/variables';

.post {
  background-color: $gray-dark;
  border-radius: 10px;
  display: flex;
  flex-direction: column;

  &-image {
    width: 100%;
    object-fit: contain;
  }

  &-footer {
    padding: 1rem;
    margin-top: auto;
  }

  &-category {
  }

  &-date {
    color: $gray;
    font-size: 0.8rem;
  }

  &-title {
    margin-bottom: 1rem;
    font-size: 1.5rem;

    &:hover {
      color: $primary;
      transition: color 150ms ease-in-out;
    }
  }

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    transition: all 300ms ease-in-out;

    .post-image {
      transform: scale(1.05);
      transition: transform 300ms ease;
    }
  }
}
