@import 'variables';
@import 'fonts';
@import 'utilities';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: $background;
  color: $white;

  a {
    color: $white;
    text-decoration: none;
  }

  [role='button'] {
    cursor: pointer;
  }

  main {
    min-height: calc(100vh - 120px);
    height: 100%;
  }
}
